{
   "kind": "tm:apm:aaa:saml-idp-connector:saml-idp-connectorstate",
   "name": "{{app_domain_name}}_aaa_saml_idp_connector",
   "partition": "Common",
   "entityId": "{{ entity_id }}",
   "identityLocation": "subject",
   "idpCertificate": "/Common/{{ app_domain_name }}_idp_conn.crt",
   "idpCertificateReference": {
   "link": "https://localhost/mgmt/tm/sys/file/ssl-cert/{{ app_domain_name }}_idp_conn.crt"
        },
   "locationSpecific": "false",
   "signArtifactResolutionRq": "false",
   "signatureType": "rsa-sha256",
   "singleLogoutBinding": "{{ logout_binding }}",
   "singleLogoutResponseUri": "{{ single_logout_response_uri }}",
   "singleLogoutUri": "{{ single_logout_uri }}",
   "ssoBinding": "{{ sso_binding }}",
   "ssoUri": "{{ sso_uri }}",
   "wantAuthnRequestSigned": "false",
   "wantDetachedSignature": "false"
}
