{
    "name": "{{app_domain_name}}_end_deny",
    "partition": "Common",
    "caption": "Deny",
    "color": 2,
    "itemType": "ending",
    "loop": "false",
    "agents": [
      {
        "name": "{{app_domain_name}}_end_deny_ag",
        "partition": "Common",
        "type": "ending-deny"
      }
    ]
}